<html>

<head>
	<link rel="icon" type="image/png" href="static/img/listening.png">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href="static/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/bootstrap-3.2.0-dist/css/custom.css" rel="stylesheet">
	<link href="static/style.css" rel="stylesheet" type="text/css" />
	<link href="http://goodybag.github.io/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
	<script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script type="text/javascript" src="static/js/jquery.autoresize.js"></script>
    <script type="text/javascript" src="static/js/jquery.bpopup.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.cookie.js"></script>


	<script type="text/javascript">
		function ffmp3Callback(event,value){
    		//alert('event: "'+event+'", value: "'+value+'"');
		}

		function disableLikeButtons() {
			$('#unlike-button').removeAttr('onClick', '');
 			$('#unlike-button').removeAttr('href', '');
    		$('#like-button').removeAttr('onClick', '');
 			$('#like-button').removeAttr('href', '');
		}

		function enableLikeButtons() {
			$('#unlike-button').attr('onClick', 'unlike();');
 			$('#unlike-button').attr('href', 'javascript:void(0)');
    		$('#like-button').attr('onClick', 'like();');
 			$('#like-button').attr('href', 'javascript:void(0)');

 			$('#unlike-button-img').attr('src', 'static/img/dislike_48.png');
 			$('#like-button-img').attr('src', 'static/img/like_48.png');
		}

		function unlike() {
 			disableLikeButtons()
			$('#unlike-button-img').attr('src', 'static/img/dislike_d_48.png');
			$.ajax({
  				url: "/unlike",
 				success: function(jqXHR){
 					var data = jQuery.parseJSON(jqXHR);
 					updateSatisfactionSmiley(data.satisfaction)
    				$('#unlike-button-img').attr('src', 'static/img/dislike_red_48.png');
  				}
			});
		}

		function like() {
			$('#like-button-img').attr('src', 'static/img/like_d_48.png');
    		disableLikeButtons()
			$.ajax({
  				url: "/like",
 				success: function(jqXHR){
 					var data = jQuery.parseJSON(jqXHR);
 					updateSatisfactionSmiley(data.satisfaction)
    				$('#like-button-img').attr('src', 'static/img/like_green_48.png');
  				}
			});
		}


		function selectSong(selectedIndex) {
			$.ajax({
  				url: "/perform_vote",
  				contentType: "application/json; charset=utf-8",
  				type: "POST",
  				dataType: "json",
  				data: JSON.stringify({'index': selectedIndex}, null, '\t'),
 				success: function(data){
 					console.log("Retorno: " + data);
 					response = jQuery.parseJSON(data);
 					if (response.error) {
 						alert("Essa música já foi pedida recentemente! Tente outra sugestão");
 					}
  				}
			});


			$("#results-form").bPopup().close();

			setTimeout(function()
			{
			   stopBlinking = true;
			   $(".alert-success").css('visibility','hidden');
			}, 8000);

			$(".alert-success").css('visibility','visible').hide().fadeIn("slow");
		}

		function updateSatisfactionSmiley(satisfaction) {

			var iconUrlIdx;

			if (satisfaction < 0.3) {
				iconUrlIdx = "0"
			} else if (satisfaction < 0.4) {
				iconUrlIdx = "1"
			} else if (satisfaction < 0.5) {
				iconUrlIdx = "2"
			} else if (satisfaction == 0.5) {
				iconUrlIdx = "3"
			} else if (satisfaction < 0.65) {
				iconUrlIdx = "4"
			} else if (satisfaction < 0.8) {
				iconUrlIdx = "5"
			} else {
			    iconUrlIdx = "6"
			}

			$('#player-smiley-img').attr('src', 'static/img/s_' + iconUrlIdx + '_48.png');
		}

		function updateCurrentSong(song) {
			if (song != "Sem musicas pra tocar") {
				songText = JSON.parse(song).song
				$('#current-song').html(songText.length < 80 ? songText : songText.substring(0,79) + "...");
				$('#current-player').html("por: " + JSON.parse(song).author);
			}
		}

		function updateApplicantsTable(list) {
			table2 = $(".applicants_table")
			table2.html("")
			for (var i = 0; i < list.length; i++) {
				table2.html(table2.html() + "<a style='font-size: 10px; font-weight:bold' href='#'' class='list-group-item " + getMarkCss(i) + "'>" + list[i]  +  "<div style='margin-left:20px;''></div><input " + getVotedCss(list[i]) +  " type='image' value='Vote DOWN' class='song_entry down entry-" + i + " btn btn-danger' src='static/img/down.png' style='width:40px; height: 30px;margin-top:5px;''></td><td width='10px'><input " + getVotedCss(list[i]) + " type='image' class='song_entry up entry-" + i + " btn btn-success' src='static/img/up.png' style='margin-left:5px; margin-top:5px; width:40px; height: 30px'></td></tr><tr></a>" )

			}

			if (list.length == 0) {
        		table2.html(table2.html() +  "<div class='panel-body'>A fila de execução está vazia. Sugira algumas músicas! :)</div>");
        	}

		}

		function updateInfoBar(current_song) {
			if(current_song == "Sem musicas pra tocar") {
				$("#info-bar").css("display", "none");
				$("#info-bar-sem-musicas").css("display", "block");
			}
			else {
				$("#info-bar-sem-musicas").css("display", "none");
				$("#info-bar").css("display", "block");

			}
		}

		function updateOnlineUsers(online_users) {
			onlineList = $(".online-users");
			onlineList.html("")
			for (i=0; i<online_users.length;i++) {
				onlineList.html(onlineList.html() + "<a  href='#' class='list-group-item item1' style='height:35px !important; border-color:grey !important;'><img src='static/img/listening.png' style='margin-left:-8px; margin-bottom: 5px; margin-right: 5px;'>" + online_users[i] +"</a>");
			}
		}

		function updateFeedbackCount(negative_votes, positive_votes, provided_feedback_this_round, changed_song_this_round) {
			$(".meh-count").html(negative_votes);
			$(".woot-count").html(positive_votes);

			if (provided_feedback_this_round) {
				$(".feedback-woot").prop("disabled", true);
				$(".feedback-meh").prop("disabled", true);
			}

			if (changed_song_this_round) {
				$(".feedback-woot").prop("disabled", false);
				$(".feedback-meh").prop("disabled", false);
			}

		}

		function updateWidgets(status) {
			if(status.feedback) {
				$(".feedback-woot").css("display", "inline");
				$(".woot-count").css("display", "inline");
				$(".feedback-meh").css("display", "inline");
				$(".meh-count").css("display", "inline");
			}

			else {
				$(".feedback-woot").css("display", "none");
				$(".woot-count").css("display", "none");
				$(".feedback-meh").css("display", "none");
				$(".meh-count").css("display", "none");
			}

			if (status.queue) {
				$(".song_entry").css("display", "inline");
				$('.title-queue').html("Escolha a próxima música")
			}

			else {
				$(".song_entry").css("display", "none");
				$('.title-queue').html("Próximas músicas")
			}

			if (status.satisfaction) {
				$("#widget-satisfaction").css("visibility", "visible");
			}

			else {
				$("#widget-satisfaction").css("visibility", "hidden");
			}
		}

		function getMarkCss(i) {
			if (i == 0) {
				return "active";
			}

			return "";
		}

		function getVotedCss(element) {
			if($.cookie('votedSongs').split("|").indexOf(element) != -1) {
				return "disabled";
			}
			return "";
		}

		function blink(selector) {
		    $(selector).fadeOut('slow', function() {
		        $(this).fadeIn('slow', function() {
		            if (!stopBlinking)
		            {
		                blink(this);
		            }
		            else
		            {
		                $(this).hide();
		                stopBlinking = false;
		            }
		        });
		    });
		}

		function sendSatisfaction(i) {
			$.ajax({
	  				url: "/satisfaction",
	  				contentType: "application/json; charset=utf-8",
	  				type: "POST",
	  				dataType: "json",
	  				data: JSON.stringify({"satisfaction":i}, null, '\t'),
	 				success: function(jqXHR){
	 					$("#widget-satisfaction").css("display","none");
	  				}
				});
		}



		$(document).ready(function() {
			if (!$.cookie('votedSongs')) {
				var date = new Date();
				var minutes = 30;
				date.setTime(date.getTime() + (minutes * 60 * 1000));
				$.cookie('votedSongs',"", {domain: '', path: '' });
			}

			if (!$.cookie('provided_feedback_this_round')) {
				$.cookie('provided_feedback_this_round','false');
			}

			if (!$.cookie('provided_feedback_this_round')) {
				$.cookie('provided_feedback_this_round','false');
			}

			$( ".btn-send-name" ).click(function() {
				username = $(".username").val();
				if(username.length > 0) {
					$.ajax({
	  				url: "/define_name",
	  				contentType: "application/json; charset=utf-8",
	  				type: "POST",
	  				dataType: "json",
	  				data: JSON.stringify({"username":username}, null, '\t'),
	 				success: function(jqXHR){
	 					$(".name-panel").bPopup().close();
	  				}
				});
				}
				else {
					alert("Por favor, forneça uma identificação")
				}

			});

			$(".song_entry").live("click", function (e) {
				vote_index = $(this).attr('class').split(" ")[2].split("-")[1]
					vote_type = $(this).attr('class').split(" ")[1]
					$.cookie('votedSongs', $.cookie('votedSongs').concat($(this).parent().html().split("<div")[0]) + "|" );
				    $.ajax({
	  				url: "/vote_song",
	  				contentType: "application/json; charset=utf-8",
	  				type: "POST",
	  				dataType: "json",
	  				data: JSON.stringify({'vote_index': vote_index, 'vote_type' : vote_type}, null, '\t'),
	 				success: function(data,textStatus,jqXHR){
	  					updateApplicantsTable(data["applicant_songs"])
	  				}
				});
			});

			$(".feedback-woot").live("click", function (e) {
			    $.ajax({
	  				url: "/feedback",
	  				contentType: "application/json; charset=utf-8",
	  				type: "POST",
	  				dataType: "json",
	  				data: JSON.stringify({'feedback_type':'woot'}, null, '\t'),
	 				success: function(data,textStatus,jqXHR){
	 					$(".meh-count").html(data["negative_votes"]);
	 					$(".woot-count").html(data["positive_votes"]);
	 					$(".feedback-meh").attr("disabled","disabled");
	 					$(".feedback-woot").attr("disabled","disabled");
	  				}
				});
			});

			$(".feedback-meh").live("click", function (e) {
				$.ajax({
	  				url: "/feedback",
	  				contentType: "application/json; charset=utf-8",
	  				type: "POST",
	  				dataType: "json",
	  				data: JSON.stringify({'feedback_type':'meh'}, null, '\t'),
	 				success: function(data,textStatus,jqXHR){
	 					$(".meh-count").html(data["negative_votes"]);
	 					$(".woot-count").html(data["positive_votes"]);
	 					$(".feedback-meh").attr("disabled","disabled");
	 					$(".feedback-woot").attr("disabled","disabled");
	  				}
				});
			});



			var options = {
    			success: function(data) {
    				json = jQuery.parseJSON(data)
        			//alert("A Rádio LSD agradece sua sugestão!");
                	$('#form-submit').removeAttr('disabled');
                	$('#vote-form-inner').clearForm();

                	$('.lista-resultados').html("")

                	for(i = 0; i<json["data"]["items"].length;i++) {
                		$('.lista-resultados').html($('.lista-resultados').html() + "<a href='#'' class='list-group-item list-group-item2' style=border-color:grey !important;'  onClick=selectSong(" +i+ ")><img style='margin-right: 10px;' src='" + json["data"]["items"][i]["thumbnail"]["hqDefault"] + "' alt='Smiley face' width='50' height='50'>" +  json["data"]["items"][i]["title"] + "</a>");
                	}


                	$("#results-form").bPopup({
			            speed: 650,
			            transition: 'slideIn',
				   		transitionClose: 'slideBack'
			        });



    			},

    			error: function() {
        			alert("Sugestão não computada por problemas técnicos :(");
                	$('#form-submit').removeAttr('disabled');
                	$('#vote-form-inner').clearForm();
    			},

    			beforeSubmit: function() {
        			$('#form-submit').attr('disabled','disabled');
    			}
			};

            // bind 'myForm' and provide a simple callback function
            $('#vote-form-inner').ajaxForm(options);

            $('#vote-textarea').keypress(function (e) {
			  if (e.which == 13) {
			  		e.preventDefault()
	                $('#form-submit').submit()
			  }
			});

			$('.username').keypress(function (e) {
			  if (e.which == 13) {
			  		e.preventDefault();
	                username = $(".username").val();
		                if (username.length > 0) {
		                	$.ajax({
			  				url: "/define_name",
			  				contentType: "application/json; charset=utf-8",
			  				type: "POST",
			  				dataType: "json",
			  				data: JSON.stringify({"username":username}, null, '\t'),
			 				success: function(jqXHR){
			 					$(".name-panel").bPopup().close();
			  				}
						});
	                }

	                else {
	                	alert("Por favor, forneça uma identificação");
	                }

			  }
			});


           	var updater = new Worker('static/js/updater.js');
           	updater.onmessage = function (event) {
     			var data = jQuery.parseJSON(event.data);
     			if (data.vote == 'none') {
     				enableLikeButtons()
     			}
     			if (!data.current_user) {
					$(".name-panel").bPopup({
			            speed: 650,
			            transition: 'slideIn',
				   		transitionClose: 'slideBack',
				   		modalClose: false,
				   		escClose: false
			        });
				}
     			updateSatisfactionSmiley(data.satisfaction);
     			updateCurrentSong(data.current_song);
     			updateApplicantsTable(data.applicant_songs);
     			updateInfoBar(data.current_song);
     			updateOnlineUsers(data.online_users);
     			updateFeedbackCount(data.negative_votes, data.positive_votes, data.provided_feedback_this_round, data.changed_song_this_round);
     			updateWidgets(jQuery.parseJSON(data.widgets))
   			};

   			$('#vote-textarea').autoResize({
    			maxHeight: 200,
    			minHeight: 50
			});

        });

	</script>

	<title>LSD Radio - Fazendo sua cabeça</title>


</head>

<body style="background-image: url('static/img/background.jpg');background-size: 100% 100%;";>
	<div class='notifications bottom-right'></div>

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            	<div id="info-bar">
            		<div style="position:fixed; left:0">
            			<img class="navbar-brand" src="static/img/playing.png" style="width:60px; height:60px; margin-top: -5px !important; margin-left: 10px;">
	                	<a class="navbar-brand" style="font-size: 20px !important; color: black !important; font-weight: bold">Ouvindo agora:</a>
	                	<a class="navbar-brand" id="current-song" style="font-size: 20px !important">Start Bootstrap</a>
	                	<a class="navbar-brand" id="current-player" style="font-weight: bold;font-size: 14px !important; margin-top: 10px !important; margin-left:-25px !important; color: white !important">por: felipe</a>
	                	<input class="navbar-brand feedback-woot" type="image" title="Curti!" src="static/img/woot.png" style="width:60px; height:60px; margin-top: -5px !important;-webkit-appearance: none;"/>
	                	<span class="badge navbar-brand woot-count" style="margin-left:-25px !important; margin-top:5px !important; font-size: 15px !important; height:20px !important;">15</span>
	                	<input class="navbar-brand feedback-meh" type="image" title="Curti!" src="static/img/meh.png" style="width:60px; height:60px; margin-top: -5px !important;">
	                	<span class="badge navbar-brand meh-count" style="margin-left:-25px !important; margin-top:5px !important; font-size: 15px !important; height:20px !important;">5</span>
            		</div>

                	</div>
                </div>
                <div id="info-bar-sem-musicas">
            		<a class="navbar-brand">Sem músicas para executar</a>
                </div>

                <div id="widget-satisfaction" class="btn-group" style="float:right; margin-top: 205px; right:0;position:fixed; margin-right:10px">
                	<div style="color:white;font-size:20px;">Satisfação com músicas tocadas</div>
				  <div class="rad">
				    <label for="my_radio_button_1">Nenhuma</label>
				    <input type="radio" name="radio" id="my_radio_button_1" onClick="sendSatisfaction(1)" />
				</div>
				<div class="rad">
				    <label for="my_radio_button_2">Pouca</label>
				    <input type="radio" name="radio" id="my_radio_button_2" onClick="sendSatisfaction(2)" />
				</div>
				<div class="rad">
				    <label for="my_radio_button_3">Média</label>
				    <input type="radio" name="radio" id="my_radio_button_3" onClick="sendSatisfaction(3)" />
				</div>
				<div class="rad">
				    <label for="my_radio_button_4">Alta</label>
				    <input type="radio" name="radio" id="my_radio_button_4" onClick="sendSatisfaction(4)" />
				</div>
				<div class="rad">
				    <label for="my_radio_button_4">Máxima</label>
				    <input type="radio" name="radio" id="my_radio_button_4" onClick="sendSatisfaction(5)" />
				</div>

				</div>

            </div>

            <div id="player" style="visibility:hidden">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" bgcolor="#FFFFFF">
				<param name="movie" value="static/ffmp3.swf" />
				<param name="flashvars" value="url=http://{{server_url}}/ices&lang=en&codec=mp3&volume=100&traking=true&jsevents=true&autoplay=true&buffering=5&title=LSD+Radio" />
				<param name="wmode" value="window" />
				<param name="allowscriptaccess" value="always" />
				<param name="scale" value="noscale" />
				<embed src="static/ffmp3.swf" flashvars="url=http://{{server_url}}/ices&lang=en&codec=mp3&volume=100&traking=true&jsevents=true&autoplay=true&buffering=5&title=LSD+Radio" width="329" scale="noscale" height="21" wmode="window" bgcolor="#FFFFFF" allowscriptaccess="always" type="application/x-shockwave-flash" />
			</object>
			</div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<div id="main" class="container cleafix">

	<div class="alert alert-success" style="visibility: hidden; margin-top: 5px;">
	  <a class="close" data-dismiss="alert">×</a>
	  <strong>Muito obrigado!</strong> Sua sugestão foi computada com sucesso e aparecerá na fila assim que seu processamento for finalizado!
	</div>





		<center style="margin-top: 50px">
		<div class="panel panel-primary"  style="width: 500px !important;border-color:#6c4a96 !important">
			  <div class="panel-heading" style="background-color:#6c4a96 !important;border-color:#6c4a96 !important">
			    <h3 class="panel-title title-queue">Escolha a próxima música!</h3>
			  </div>

			  <div class="list-group applicants_table" style="max-height: 220px; overflow-y: auto">

			</div>
		</div>

		</center>

		<div id="vote-form" class="clearfix">
		<form id="vote-form-inner" action="busca_resultados" method="post">
			<textarea rows="1" cols="50" name="vote" id="vote-textarea" class="form-control" placeholder="Sugira uma música!" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Sugira uma música!'"></textarea>
			<button type="submit" id="form-submit" class="btn btn-large btn-primary">Pesquisar</button>
		</form>
		</div>
	</div>


      <div class="panel panel-primary"  id="results-form" style="display:none;border-color:#6c4a96 !important;overflow-y: scroll; height: 500px">
		  <div class="panel-heading" style="background-color:#6c4a96 !important;border-color:#6c4a96 !important">
		    <h3 class="panel-title">Resultados de Busca</h3>
		  </div>
		  <div class="list-group lista-resultados">
		    <a href="#" class="list-group-item item1" style="height:35px !important; border-color:grey !important;">Dapibus ac facilisis in</a>
		  </div>
	</div>

	<div class="panel panel-primary name-panel"  id="online-users" style="width: 600px !important; display:none;border-color:#6c4a96 !important">
		<div class="panel-heading" style="background-color:#6c4a96 !important;border-color:#6c4a96 !important">
		    <h3 class="panel-title">Por favor, informe ou atualize seu username</h3>
		  </div>
		  <div class="input-group">
      <input type="text" class="form-control username" placeholder="Anônimo">
      <span class="input-group-btn">
        <button class="btn btn-default btn-send-name" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
	</div>
</body>

<div>

</html>