<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>intevol dj</title>

<script type="text/javascript" src="static/swfobject.js"></script>    

</head>

<body>
	
  	<div id="ytplayer">
    	You need Flash player 8+ and JavaScript enabled to view this video.
  	</div>

  	<script type="text/javascript">

    	var params = { allowScriptAccess: "always" };
    	swfobject.embedSWF(
    		"http://www.youtube.com/v/{{video_id}}&enablejsapi=1&playerapiid=ytplayer", 
    		"ytplayer", "425", "365", "8", null, null, params);


		function onYouTubePlayerReady(playerId) {
      		ytplayer = document.getElementById("ytplayer");
      		ytplayer.playVideo();
      		ytplayer.addEventListener("onStateChange", "onPlayerStateChange");
    	}
		
		function onPlayerStateChange() {
			ytplayer = document.getElementById("ytplayer");
			
			if (ytplayer.getPlayerState() == 0) {
				window.location.reload()
			}
    	}
		
	</script>
	
</body>
</html>
