<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="static/style.css" rel="stylesheet" type="text/css" /> 
<title>intevol dj</title>
</head>

<body>
	
	<form action="vote" method="post">
						
		<label for="vote">Nome da música</label> 
		<input name="vote" type="text" /> 
				
		<button type="submit">Vote</button>
				
	</form>

</body>
</html>
